# Python
__pycache__/
*.py[cod]
*.so

# Django
*.sqlite3
*.log
local_settings.py
db.sqlite3

# Environment
.env
*.env

# IDEs
.vscode/
.idea/

# Static files collected
staticfiles/

# OS files
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
.venv/

# dont add media images
media/

node_modules/